
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDataFromView</title>
</head>
<body>
    <h1>@ViewBag.Name</h1>
    <form method="post"  >
        <input name="name" value="Tony"/>
        <input type="submit" value="提交表单" />
    </form>
</body>
</html>
