@model IEnumerable<MVCEF.ExEntity.SysUser>

@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </table>
</body>
</html>
